//引入less默认样式文件夹
@import "reset";
//公共样式
.common-title{
      color:#009ee0;
      font-size:80px;
      line-height:0.8;
      font-weight:bold;
      letter-spacing:-5px;
    }
.common-text{
  color:white;
  line-height:1.5;
  font-size:15px;
}
//解决第三屏浮动造成的高度塌陷
.clearfix{
  zoom: 1;
  &::after{
    display: block;
    content: '';
    clear: both;
  }
}
#wrap{
  position: relative;
  height: 100%;
  //头部区
  #header{
    position: relative;
    .header-min{
      width: 1100px;
      height: 80px;
      margin: 0 auto;
      .logo{
        margin-top: 15px;
        float: left;
      }
      .nav{
        float: right;
        margin-top: 50px;
        li{
          position: relative;
          float: left;
          margin-left: 40px;
          color: #009EE0;
          &:hover{
            .down{
              width: 100%;
            }
          }
          //点击导航切换默认为第一个，第一个li加类名active然后设置width100%
          &.active{
            .down{
              width: 100%;
            }
          }
          .down{
            position: absolute;
            left: 0;
            top: 0;
            width: 0;
            overflow: hidden;
            color: #000;
            transition: width 1s;
          }
        }
      }
      .arrow{
        position: absolute;
        left: 50%;
        bottom: -11px;
        background-image: url("../images/arrow.png");
        background-repeat: no-repeat;
        width: 21px;
        height: 11px;
        z-index: 5;
        //解决小箭头过渡
        transition: left 1s;
      }
    }
  }
  //内容区
  #content{
    position: absolute;
    left: 0;
    bottom: 0;
    top: 80px;
    right: 0;
    overflow: hidden;
    >ul{
      position: absolute;
      //解决图片过渡
      transition: top 1s;
      top: 0;
      width: 100%;
      height: 500%;
      >li{
        position: relative;
        width: 100%;
        height: 20%;
        background-repeat: no-repeat;
        &:nth-child(1){
          background-image: url("../images/bg1.jpg");
        }
        &:nth-child(2){
          background-image: url("../images/bg2.jpg");
        }
        &:nth-child(3){
          background-image: url("../images/bg3.jpg");
        }&:nth-child(4){
           background-image: url("../images/bg4.jpg");
         }&:nth-child(5){
            background-image: url("../images/bg5.jpg");
          }
        >section{
          width: 1100px;
          height: 520px;
          position: absolute;
          left: 0;
          top: 0;
          right: 0;
          bottom: 0;
          margin: auto;
          &.home{
            .home-carousel{
              position: relative;
              width: 100%;
              height: 100%;
              transform-style: preserve-3d;
              perspective: 1000px;
              li{
                position: absolute;
                left: 0;
                top: 0;
                width: 100%;
                height: 100%;
                text-align: center;
                line-height: 520px;
                color: #fff;
                //transform-style: preserve-3d;perspective: 1000px;解决3d旋转visibility:hidden,visible解决上边压的一层
                visibility: hidden;
                &.show{
                  visibility: visible;
                }
                &.leftHide{
                  visibility: hidden;
                  animation: leftHide 2s linear;
                }
                &.rightShow{
                  visibility: visible;
                  animation: rightShow 2s linear;
                }
                &.leftShow{
                  visibility: visible;
                  animation: leftShow 2s linear;
                }
                &.rightHide{
                  visibility: hidden;
                  animation: rightHide 2s linear;
                }
                &:nth-child(1){
                  background:#dc6c5f;
                }
                &:nth-child(2){
                  background:#95dc84;
                }
                &:nth-child(3){
                  background:#64b9d2;
                }
                &:nth-child(4){
                  background:#000000;
                }
              }
            }
            .home-points{
              position: absolute;
              //解决小圆点水平居中
              left: 50%;
              transform: translateX(-50%);
              bottom: 0;
              li{
                border-radius: 50%;
                float: left;
                width: 20px;
                height: 20px;
                background-color:rgba(255,255,255,0.5);
                //四周缝隙
                margin: 2px;
                box-shadow:0 0 4px rgba(25,25,25,0.8) ;
                //默认第一个小圆点为指定的颜色白色
                &.active{
                  background-color:rgba(255,255,255,1);
                }
              }
            }
          }
          &.course{
            .course-title{
              margin: 50px;
            }
            .course-text{
              width: 400px;
              margin-left: 50px;
            }
            .course-photo{
              width: 480px;
              position: absolute;
              right: 50px;
              top: 70px;
              li{
                position: relative;
                width: 120px;
                height: 132px;
                float: left;
                //鼠标悬浮让图片转
                &:hover{
                  .back{
                    transform: rotateY(360deg);
                  }
                  .front{
                    transform: rotateY(180deg);
                  }
                }
                .front{
                  width: 100%;
                  height: 100%;
                  transition: transform 2s;
                  background-image: url("../images/pcwelt.png");
                  background-repeat: no-repeat;
                  //居中让图片
                  background-position: center;
                  //转的时候图片隐藏
                  backface-visibility: hidden;
                }
                .back{
                  width: 100%;
                  height: 100%;
                  //两张图片叠在一起
                  position: absolute;
                  left: 0;
                  top: 0;
                  transition: transform 2s;
                  //旋转到背面
                  transform:rotateY(180deg);
                  //文字隐藏
                  backface-visibility: hidden;
                  background-color: #009ee0;
                  padding: 15px;
                  box-sizing: border-box;
                }
              }
            }
            .course-line{
              position: absolute;
              top: 65px;
              width: 9px;
              height: 410px;
              background-image: url("../images/plus_row.png");
              background-repeat: no-repeat;
              &:nth-of-type(1){
                right: 525px;
              }
              &:nth-of-type(2){
                right:405px ;
              }
              &:nth-of-type(3){
                right: 285px;
              }&:nth-of-type(4){
                 right: 165px;
               }
              &:nth-of-type(5){
                right:45px ;
              }

            }
          }
          &.works{
            .works-title{
              margin: 50px 0 100px 50px;
            }
            .works-lists{
              margin-left: 50px;
              li{
                overflow: hidden;
                position: relative;
                float: left;
                width: 220px;
                height: 133px;
                margin: 0 1px;
                &:last-child{
                  width: 332px;
                  height: 133px;
                }
                &:hover{
                  .works-mask{
                    opacity: 1;
                    div{
                      background-position: 0 -35px;
                    }
                  }
                  img{
                    transform: rotate(30deg) scale(1.5);
                  }
                }
                img{
                  transition:transform 1s ;
                }
                .works-mask{
                  position: absolute;
                  left: 0;
                  top: 0;
                  width: 100%;
                  height: 100%;
                  box-sizing: border-box;
                  background:rgba(25,25,25,0.8) ;
                  color: white;
                  padding: 10px;
                  opacity: 0;
                  transition: opacity 1s;
                  //图片中间哪个小图标
                  div{
                    width: 32px;
                    height: 34px;
                    position: absolute;
                    left: 0;
                    top: 0;
                    right: 0;
                    bottom: 0;
                    margin: auto;
                    background-image: url("../images/zoomico.png");
                    background-repeat: no-repeat;
                    transition: background-position 1s;
                  }
                }
              }
            }
            .works-robot{
              width: 167px;
              height: 191px;
              position: absolute;
              left: 900px;
              top: 170px;
              background-image: url("../images/robot.png");
              background-repeat: no-repeat;
              animation: robot 5s linear infinite;
            }
          }
          &.about{
            .about-title{
              margin: 50px 0 100px 50px;
            }
            .about-text{
              width: 400px;
              margin-left: 50px;
            }
            .about-lists{
              position: absolute;
              width: 260px;
              height: 200px;
              border: 5px rgba(255,255,255,0.5) solid;
              border-radius: 8px;
              z-index: 10;
              &:nth-of-type(1){
                left: 750px;
                top: 50px;
                  li{
                    background-image: url("../images/about1.jpg");
                }
              }
              &:nth-of-type(2){
                left: 600px;
                top: 290px;
                li{
                  background-image: url("../images/about3.jpg");
                }
              }
              ul{
                position: absolute;
                left: 0;
                top: 0;
                width: 100%;
                height: 100%;
                &:hover{
                  li{
                    &:nth-child(1){
                      background-position: 0 100px ;
                    }
                    &:nth-child(2){
                      background-position:-260px 0 ;
                    }
                    &:nth-child(3){
                      background-position: 130px -100px;
                    }
                    &:nth-child(4){
                      background-position: -130px -200px;
                    }
                  }
                }
                li{
                  transition: background-position 1s;
                  width: 50%;
                  height: 50%;
                  float: left;
                  background-repeat: no-repeat;
                  &:nth-child(1){
                    background-position: 0 0 ;
                  }
                  &:nth-child(2){
                    background-position:-130px 0 ;
                  }
                  &:nth-child(3){
                    background-position: 0 -100px;
                  }
                  &:nth-child(4){
                    background-position: -130px -100px;
                  }
                }
              }
            }
            .about-line{
              width: 357px;
              height: 998px;
              position: absolute;
              right: 188px;
              top: -14px;
              background-image: url("../images/greenLine.png");
              background-repeat: no-repeat;
              //z-index: -2;
            }
          }
          &.team{
            .team-title{
              float: left;
              width: 400px;
              margin: 50px;
            }
            .team-text{
              float: right;
              margin: 50px;
              width: 400px;
            }
            .team-list{
              width: 944px;
              height: 448px;
              position: absolute;
              top: 230px;
              left: 50%;
              transform: translateX(-50%);
              li{
                height: 100%;
                float: left;
                background-image: url("../images/team.png");
                background-repeat: no-repeat;
                width: 236px;
                &:nth-child(1){
                  background-position: 3px 0px;
                }
                &:nth-child(2){
                  background-position: -230px 0px;
                }
                &:nth-child(3){
                  background-position: -483px 0px;
                }
                &:nth-child(4){
                  background-position: -710px 0px;
                }
              }
            }
          }
        }
      }
    }
  }
}
//第一屏动画
//向左点击左图片向右旋转最后右边图片压住左边图片
@keyframes leftHide {
  0%{visibility: visible;transform: translateZ(0)}
  50%{transform: translateX(-40%) rotateY(30deg) scale(0.8)}
  100%{visibility: hidden;transform: translateZ(-200px);}
}
@keyframes rightShow {
  0%{visibility: hidden;transform: translateZ(-200px)}
  50%{transform: translateX(40%) rotateY(-30deg) scale(0.8)}
  100%{visibility: visible;transform: translateZ(0);}
}
//向右点击按钮
@keyframes leftShow {
  0%{visibility: hidden;transform: translateZ(-200px)}
  50%{transform: translateX(-40%) rotateY(30deg)scale(0.8)}
  100%{visibility: visible;transform: translateZ(0);}
}
@keyframes rightHide {
  0%{visibility: visible;transform: translateZ(0)}
  50%{transform: translateX(40%) rotateY(-30deg)scale(0.8)}
  100%{visibility: hidden;transform: translateZ(-200px);}
}

//机器人运动的动画
@keyframes  robot{

  49%{transform: translateX(-400px)}
  50%{transform: translateX(-400px) rotateY(180deg)}
  100%{transform: rotateY(180deg)}
}



